.translation-layout-position-marker {
    width: 150px;
    height: 30%;
    border: 1px solid #000;
}

.translation-layout-position-marker:not(:last-child) {
    margin-bottom: -1px;
}

.translation-layout-position-marker.tlpm-selected {
    background: #b0ff67;
}
