html, .auth, #root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  background-color: #fff;
  height: 100%;
}
.title {
  font-size: 20pt;
}
.subtitle {
  font-size: 17pt;
}
.container {
  margin-top: 40px;
  height: 100%,
}
.row {
  margin-top: 10px;
}